<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alunos | Acadêmico</title>

    <link rel="stylesheet" href="../../../style/global.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>
<body>

    <header>
        <span>
            <p class="logo">acadêmico</p>
        </span>

        <nav>
            <ul class="menu">
                <li class="menu-item">
                    <a href="#">
                        <span class="material-symbols-outlined">school</span>
                        Cursos
                    </a>
                </li>
                <li class="menu-item">
                    <a href="#">
                        <span class="material-symbols-outlined">groups</span>
                        Turmas
                    </a>
                </li>
                <li class="menu-item">
                    <a href="#">
                        <span class="material-symbols-outlined">menu_book</span>
                        Disciplinas
                    </a>
                </li>
                <li class="menu-item">
                    <a href="#">
                        <span class="material-symbols-outlined">person_apron</span>
                        Professores
                    </a>
                </li>
                <li class="menu-item active">
                    <a href="#">
                        <span class="material-symbols-outlined">person_edit</span>
                        Alunos
                    </a>
                </li>
            </ul>
        </nav>

        <span class="iff-logo">
            <img src="../../../images/logo-iff.png" alt="Logo Instituto Federal Fluminense">
        </span>
    </header>

    <main>
        <div>
            <h2 class="page-title">Alunos</h2>
            <a href="#" class="action-button">
                <span class="material-symbols-outlined">add</span>
                Cadastrar
            </a>
        </div>
        <ul class="main-list">
            <li>
                <a href="#" class="list-item">
                    <!-- ICON -->
                    <div>
                        <span class="material-symbols-outlined">person_edit</span>
                    </div>
                    <!-- NAME -->
                    <div>
                        <span>Nome do Aluno</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="list-item">
                    <!-- ICON -->
                    <div>
                        <span class="material-symbols-outlined">person_edit</span>
                    </div>
                    <!-- NAME -->
                    <div>
                        <span>Nome do Aluno</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="list-item">
                    <!-- ICON -->
                    <div>
                        <span class="material-symbols-outlined">person_edit</span>
                    </div>
                    <!-- NAME -->
                    <div>
                        <span>Nome do Aluno</span>
                    </div>
                </a>
            </li>
        </ul>
    </main>

</body>
</html>